html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: hsl(0, 0, 40);
}

.switchSet {

  $button-steps: 20;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 2rem;

  .switch {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin: 0em 1em 0em 1em;

    button.active {
    }

    button.inactive {
    }

  }

  div button {
    transition: all 0.2s ease-in-out;
  }

  div.clicked-0 button {
    color: transparent;
    padding: 0px;
    width: 1em;
    height: 1em;
  }

  @for $i from 1 to $button-steps {
    div.clicked-#{$i} button {
      padding: (($i)*2px) (($i)*6px) (($i)*3px) (($i)*6px);
      font-size: (1ex * ($i))
    }
  }

  // react transition
  .switch-enter button, .switch-enter span {
    opacity: 0;
  }
  .switch-enter.switch-enter-active button, .switch-enter.switch-enter-active span  {
    opacity: 1.0;
    transition: all 500ms ease-in;
  }

  .switch-leave {
  }
  .switch-leave.example-leave-active {
  }
  // end

}

.modal {
    background-image: none;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .5);
    color: #333;
    background-color: hsl(0, 0, 100);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    .modal-msg {
      padding: 4em;
    }
}

// shamelessly ripped from bootstrap

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}

// end bootstrap
