
.switchSet {

  $button-steps: 10;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;

  .switch {

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    button {
      transition: color 0.2s ease-in-out;
      transition: padding 0.2s ease-in-out;
    }

    @for $i from 0 to $button-steps {
      button.clicked-#{$i} {
        padding: (($i+1)*2px) (($i+1)*6px) (($i+1)*3px) (($i+1)*6px);
      }
    }

    button.active {
      color: red;
    }

    button.inactive {
      color: blue;
    }

  }

}
